@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mixins" as *;

// Font Imports
@font-face {
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  src: url("../../../assets/fonts/avenir-next-lt-pro-regular.woff")
      format("woff"),
    url("../../../assets/fonts/avenir-next-lt-pro-regular.woff2")
      format("woff2");
}

@font-face {
  font-family: "Avenir Next LT Pro";
  font-weight: 600;
  src: url("../../../assets/fonts/avenir-next-lt-pro-demi.woff") format("woff"),
    url("../../../assets/fonts/avenir-next-lt-pro-demi.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir Next LT Pro";
  font-weight: 700;
  src: url("../../../assets/fonts/avenir-next-lt-pro-bold.woff") format("woff"),
    url("../../../assets/fonts/avenir-next-lt-pro-bold.woff2") format("woff2");
}

body {
  font-family: "Avenir Next LT Pro", sans-serif;
  @extend .body-copy;
}

.page-header,
.section-header {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 1.5rem 0 1rem;

  @include medium {
    padding: 3rem 0 2.25rem;
  }
}

.page-header {
  @include medium {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.section-header {
  @include medium {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.sub-header {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;

  @include medium {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.body-copy,
.footer-copy {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;

  @include medium {
    font-size: 0.875rem;
  }
}

.body-copy {
  @include medium {
    line-height: 1.375rem;
  }
}

.footer-copy {
  @include medium {
    line-height: 1.25rem;
  }
}

.label,
.button {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.25rem;

  @include medium {
    font-size: 0.75rem;
  }
}

.hidden-text {
  display: none;
}
