@use "../../partials/animations" as *;
@use "../../partials/mixins" as *;
@use "../../partials/typography";
@use "../../partials/variables" as *;

// Gallery
.gallery {
  background-color: $alabaster;
  padding-bottom: 1rem;

  @include medium {
    padding-bottom: 2.5rem;
  }

  // Heading
  &__heading {
    @extend .section-header;
    font-weight: 600;
  }
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  @include medium {
    gap: 1.5rem;
  }

  &__item {
    cursor: pointer;
    filter: grayscale(100%);
    transition: 250ms;

    &:hover {
      filter: grayscale(0%);
    }

    @include medium {
      width: calc((100% - 3rem) / 3);
    }

    @include large {
      &:hover {
        scale: 105%;
      }
    }
  }
}

// Modal
.modal {
  align-items: center;
  background-color: rgba($bandsite-darkblack, 95%);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 2;

  &--show {
    animation: 250ms flyIn forwards;
    display: flex;
  }

  &--hidden {
    animation: 250ms flyOut forwards;
  }

  &__image {
    height: auto;
    width: 60%;

    @include large {
      height: 60%;
      width: auto;
    }
  }

  &__close-button {
    background-color: transparent;
    border: 0;
    color: $white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}
