@use "../abstracts/variables" as *;
@use "../base/typography";
@use "../abstracts/mixins" as *;
@use "../abstracts/commons";

// Header
.header {
  background-color: $bandsite-black;
  color: $mercury;
  text-align: center;

  @include medium {
    display: flex;
  }

  // Header > Container
  &__container {
    padding: 0;

    @include medium {
      align-items: baseline;
      display: flex;
      gap: 4rem;
      padding: 0 2.25rem;
    }

    @include large {
      padding: 0;
    }
  }

  // Header > Logo
  &__logo {
    @extend .logo;
    box-sizing: content-box;
    margin: 16px 0 0.25rem;

    @include medium {
      margin: 0;
    }
  }

  // Header > Nav
  &__nav {
    &-list {
      display: flex;

      @include medium {
        gap: 3.5rem;
      }

      @include large {
        gap: 1rem;
      }
    }

    &-item {
      flex-grow: 1;
      width: 50%;

      @include medium {
        width: auto;
        min-width: calc((100vw - ((2.25rem * 2) + (1.5rem * 11))) / 12);
      }
    }

    &-link {
      @extend .body-copy;
      display: block;
      padding: 0.5rem 0;
      transition: 125ms background-color;

      @include medium {
        padding: 1.5rem 0 1.25rem;
      }

      &--active {
        font-weight: 600;
      }

      &--active,
      &:hover {
        border-bottom: $white 0.25rem solid;
        color: $white;
      }

      &:hover {
        background-color: rgba($silver, 10%);
      }
    }
  }
}
