@use "../abstracts/variables" as *;
@use "../base/typography";
@use "../abstracts/mixins" as *;

// About
.about {
  padding-bottom: 1rem;

  @include medium {
    padding-bottom: 2rem;
  }

  // About > Heading
  &__heading {
    @extend .section-header;
    color: $bandsite-black;
    font-weight: 600;

    @include medium {
      padding-bottom: 1.5rem;
    }
  }

  // About > Content
  &__content {
    @include medium {
      padding: 0 3.5rem;
    }

    @include large {
      padding: 0 5rem;
    }
  }

  // About > Quote
  &__quote {
    @extend .sub-header;
    color: $bandsite-black;

    @include large {
      padding-top: 1.5rem;
    }

    &,
    &-footer {
      margin-top: 1rem;
    }

    &__line-break {
      display: none;

      @include large {
        display: auto;
      }
    }

    &-footer {
      @extend .body-copy;
      font-weight: 700;
    }
  }

  // About > Sub Heading
  &__sub-heading {
    @extend .sub-header;
    margin-top: 1.5rem;

    @include medium {
      margin-top: 3.5rem;
    }
  }

  // About > Text Container
  &__text-container {
    @include medium {
      display: flex;
      gap: 1.5rem;
    }

    &-text {
      @extend .body-copy;
    }
  }
}
