@use "./mixins" as *;

.container {
  padding: 0 1rem;

  @include medium {
    padding: 0 2.25rem;
  }

  @include large {
    margin: auto;
    max-width: 63.75rem;
    padding: 0;
    width: 63.75rem;
  }
}

.hover-effect {
  transition: 125ms;

  &:hover {
    opacity: 75%;
  }
}

// Logo
.logo {
  @extend .hover-effect;
  max-height: 1.25rem;
  max-width: 7.5rem;

  @include medium {
    display: block;
  }
}
