@use "./mixins" as *;
@use "./variables" as *;

.container {
  padding: 0 1rem;

  @include medium {
    padding: 0 2.25rem;
  }

  @include large {
    margin: auto;
    max-width: 63.75rem;
    padding: 0;
    width: 63.75rem;
  }
}

.hover-effect {
  transition: 125ms;

  &:hover {
    opacity: 75%;
  }
}

// Logo
.logo {
  @extend .hover-effect;
  max-height: 1.25rem;
  max-width: 7.5rem;

  @include medium {
    display: block;
  }
}

// Button
.button {
  @extend .button;
  background-color: $bandsite-black;
  border-radius: 0.25rem;
  color: $white;
  font-size: 0.9375rem;
  height: 2.5rem;
  min-width: 9.375rem;
  padding: 0 2rem;
  text-transform: uppercase;

  &:hover {
    background-color: $bandsite-darkblack;
  }

  @include medium {
    align-self: end;
  }
}
