// Gallery Modal Animations
@keyframes flyIn {
  from {
    opacity: 0%;
    scale: 0%;
  }
  to {
    opacity: 100%;
    scale: 100%;
  }
}

@keyframes flyOut {
  from {
    display: flex;
    opacity: 100%;
    scale: 100%;
  }
  to {
    display: none;
    opacity: 0%;
    scale: 0%;
  }
}
