// Primary Colors
$bandsite-black: #323232;
$silver: #afafaf;
$white: #ffffff;

// Secondary Colors
$bandsite-darkblack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// Padding
$padding-before-headline: 1.5rem;
$padding-after-headline: 1rem;
$padding-between-component: $padding-after-headline;

// Breakpoints
$breakpoint-medium: 48rem;
$breakpoint-large: 80rem;
