@use "../../partials/mixins" as *;
@use "../../partials/shared";
@use "../../partials/typography";
@use "../../partials/variables" as *;

// Header
.header {
  background-color: $bandsite-black;
  color: $mercury;
  text-align: center;
}

// Logo
.logo {
  @extend .logo;
  box-sizing: content-box;
  margin: 1rem 0 0.5rem;

  @include medium {
    margin: 0;
  }
}

// Nav
.nav {
  @extend .container;
  padding: 0;

  @include medium {
    align-items: center;
    display: flex;
    gap: 4rem;
    padding: 0 2.25rem;
  }

  @include large {
    padding: 0;
  }

  &__list {
    display: flex;

    @include medium {
      gap: 3.5rem;
    }

    @include large {
      gap: 1rem;
    }
  }

  // Nav Item
  &__item {
    flex-grow: 1;
    width: 50%;

    @include medium {
      width: auto;
      min-width: calc((100vw - ((2.25rem * 2) + (1.5rem * 11))) / 12);
    }
  }

  // Nav Link
  &__link {
    @extend .body-copy;
    display: block;
    padding: 0.5rem 0;
    transition: 125ms background-color;

    @include medium {
      padding: 1.5rem 0 1.25rem;
    }

    @include large {
      padding: 2rem 0;
    }

    &--active {
      font-weight: 600;
    }

    &--active,
    &:hover {
      border-bottom: $white 0.25rem solid;
      color: $white;
    }

    &:hover {
      background-color: rgba($silver, 10%);
    }
  }
}
