@use "../../partials/mixins" as *;
@use "../../partials/typography";
@use "../../partials/variables" as *;

// Hero
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  position: relative;
  z-index: 0;

  // Overlay
  &::after {
    background-color: rgba($bandsite-black, 50%);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  // Heading
  &__heading {
    @extend .page-header;
    font-weight: 600;
  }
}
