.hover-effect, .footer__icons-icon, .footer__address-email, .logo, .header__logo, .footer__logo {
  transition: 125ms;
}
.hover-effect:hover, .footer__icons-icon:hover, .footer__address-email:hover, .logo:hover, .header__logo:hover, .footer__logo:hover {
  opacity: 75%;
}

.logo, .header__logo, .footer__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media (min-width: 48rem) {
  .logo, .header__logo, .footer__logo {
    display: block;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote,
body,
h1,
h2,
p,
ul {
  margin: 0;
}

img {
  vertical-align: bottom;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  src: url("../../../assets/fonts/avenir-next-lt-pro-regular.woff") format("woff"), url("../../../assets/fonts/avenir-next-lt-pro-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir Next LT Pro";
  font-weight: 600;
  src: url("../../../assets/fonts/avenir-next-lt-pro-demi.woff") format("woff"), url("../../../assets/fonts/avenir-next-lt-pro-demi.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir Next LT Pro";
  font-weight: 700;
  src: url("../../../assets/fonts/avenir-next-lt-pro-bold.woff") format("woff"), url("../../../assets/fonts/avenir-next-lt-pro-bold.woff2") format("woff2");
}
body {
  color: #323232;
  font-family: "Avenir Next LT Pro", sans-serif;
}

.page-header, .hero__heading,
.section-header,
.gallery__heading,
.about__heading,
.footer__heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 1.5rem 0 1rem;
}
@media (min-width: 48rem) {
  .page-header, .hero__heading,
  .section-header,
  .gallery__heading,
  .about__heading,
  .footer__heading {
    padding: 3rem 0 2.25rem;
  }
}

@media (min-width: 48rem) {
  .page-header, .hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

@media (min-width: 48rem) {
  .section-header, .gallery__heading, .about__heading, .footer__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.sub-header, .about__quote, .about__sub-heading {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 48rem) {
  .sub-header, .about__quote, .about__sub-heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.body-copy, .about__text-container-text, .header__nav-link, body,
.footer-copy,
.footer {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 48rem) {
  .body-copy, .about__text-container-text, .header__nav-link, body,
  .footer-copy,
  .footer {
    font-size: 0.875rem;
  }
}

@media (min-width: 48rem) {
  .body-copy, .about__text-container-text, .header__nav-link, body {
    line-height: 1.375rem;
  }
}

@media (min-width: 48rem) {
  .footer-copy, .footer {
    line-height: 1.25rem;
  }
}

.label, .footer__text,
.button {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.25rem;
}
@media (min-width: 48rem) {
  .label, .footer__text,
  .button {
    font-size: 0.75rem;
  }
}

.hidden-text {
  display: none;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 48rem) {
  .footer__row {
    align-items: baseline;
    display: flex;
    justify-content: start;
  }
}
@media (min-width: 48rem) {
  .footer__row-item {
    width: 16.3125rem;
  }
}
.footer__row--address {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
@media (min-width: 48rem) {
  .footer__row--address {
    flex-direction: row;
    gap: 0;
  }
}
.footer__heading {
  font-weight: 600;
}
@media (min-width: 48rem) {
  .footer__heading {
    padding-bottom: 0;
  }
}
.footer__icons {
  display: flex;
  gap: 2rem;
}
@media (min-width: 48rem) {
  .footer__icons {
    top: -0.5rem;
    position: relative;
  }
}
.footer__address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .footer__address {
    gap: 1.5rem;
  }
}
.footer__address-name {
  font-weight: 600;
}
.footer__address-email {
  display: inline-block;
}
.footer__address-email:hover {
  opacity: 90%;
  text-decoration: underline;
}
.footer__logo {
  display: inline-block;
  margin-top: 4rem;
}
.footer__logo-top {
  display: none;
}
@media (min-width: 48rem) {
  .footer__logo-top {
    display: block;
    flex-grow: 1;
    top: -0.5rem;
    text-align: right;
    position: relative;
  }
}
@media (min-width: 48rem) {
  .footer__logo-bottom {
    display: none;
  }
}
.footer__text {
  font-weight: 400;
  margin-top: 0.5rem;
}
@media (min-width: 48rem) {
  .footer__text {
    font-size: 0.875rem;
    margin-top: 3.5rem;
  }
}

.container {
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .container {
    padding: 0 2.25rem;
  }
}
@media (min-width: 80rem) {
  .container {
    margin: auto;
    max-width: 63.75rem;
    padding: 0;
    width: 63.75rem;
  }
}

.header {
  background-color: #323232;
  color: #e1e1e1;
  text-align: center;
}
@media (min-width: 48rem) {
  .header {
    display: flex;
  }
}
.header__container {
  padding: 0;
}
@media (min-width: 48rem) {
  .header__container {
    align-items: center;
    display: flex;
    gap: 4rem;
    padding: 0 2.25rem;
  }
}
@media (min-width: 80rem) {
  .header__container {
    padding: 0;
  }
}
.header__logo {
  box-sizing: content-box;
  margin: 1rem 0 0.5rem;
}
@media (min-width: 48rem) {
  .header__logo {
    margin: 0;
  }
}
.header__nav-list {
  display: flex;
}
@media (min-width: 48rem) {
  .header__nav-list {
    gap: 3.5rem;
  }
}
@media (min-width: 80rem) {
  .header__nav-list {
    gap: 1rem;
  }
}
.header__nav-item {
  flex-grow: 1;
  width: 50%;
}
@media (min-width: 48rem) {
  .header__nav-item {
    width: auto;
    min-width: calc((100vw - 21rem) / 12);
  }
}
.header__nav-link {
  display: block;
  padding: 0.5rem 0;
  transition: 125ms background-color;
}
@media (min-width: 48rem) {
  .header__nav-link {
    padding: 1.5rem 0 1.25rem;
  }
}
@media (min-width: 80rem) {
  .header__nav-link {
    padding: 2rem 0;
  }
}
.header__nav-link--active {
  font-weight: 600;
}
.header__nav-link--active, .header__nav-link:hover {
  border-bottom: #ffffff 0.25rem solid;
  color: #ffffff;
}
.header__nav-link:hover {
  background-color: rgba(175, 175, 175, 0.1);
}

.about {
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .about {
    padding-bottom: 2rem;
  }
}
.about__heading {
  font-weight: 600;
}
@media (min-width: 48rem) {
  .about__heading {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 48rem) {
  .about__content {
    padding: 0 3.5rem;
  }
}
@media (min-width: 80rem) {
  .about__content {
    padding: 0 5rem;
  }
}
@media (min-width: 80rem) {
  .about__quote {
    padding-top: 1.5rem;
  }
}
.about__quote, .about__quote-footer {
  margin-top: 1rem;
}
.about__quote__line-break {
  display: none;
}
@media (min-width: 80rem) {
  .about__quote__line-break {
    display: auto;
  }
}
.about__quote-footer {
  font-weight: 600;
}
@media (min-width: 48rem) {
  .about__quote-footer {
    font-size: 1.0625rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }
}
.about__sub-heading {
  color: #000000;
  margin-top: 1.5rem;
}
@media (min-width: 48rem) {
  .about__sub-heading {
    margin-top: 3.5rem;
  }
}
.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .about__text-container {
    flex-direction: row;
    gap: 1.5rem;
  }
}
@keyframes flyIn {
  from {
    opacity: 0%;
    scale: 0%;
  }
  to {
    opacity: 100%;
    scale: 100%;
  }
}
@keyframes flyOut {
  from {
    display: flex;
    opacity: 100%;
    scale: 100%;
  }
  to {
    display: none;
    opacity: 0%;
    scale: 0%;
  }
}
.gallery {
  background-color: #fafafa;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .gallery {
    padding-bottom: 2.5rem;
  }
}
.gallery__heading {
  font-weight: 600;
}
.gallery__image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .gallery__image-list {
    gap: 1.5rem;
  }
}
.gallery__image-list-item {
  cursor: pointer;
  filter: grayscale(100%);
  transition: 250ms;
}
.gallery__image-list-item:hover {
  filter: grayscale(0%);
}
@media (min-width: 48rem) {
  .gallery__image-list-item {
    width: calc((100% - 3rem) / 3);
  }
}
@media (min-width: 80rem) {
  .gallery__image-list-item:hover {
    scale: 105%;
  }
}
.gallery__modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.95);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.gallery__modal--show {
  animation: 250ms flyIn forwards;
  display: flex;
}
.gallery__modal--hidden {
  animation: 250ms flyOut forwards;
}
.gallery__modal-image {
  height: auto;
  width: 60%;
}
@media (min-width: 80rem) {
  .gallery__modal-image {
    height: 60%;
    width: auto;
  }
}
.gallery__modal-close {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
}

.hero {
  background-image: url("../../../assets/images/hero-bio.jpg");
  background-position: center bottom -0.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 4rem 0;
  position: relative;
  z-index: -2;
}
@media (min-width: 48rem) {
  .hero {
    padding: 9rem 0;
  }
}
@media (min-width: 80rem) {
  .hero {
    background-position: center bottom -10.375rem;
    padding: 15rem 0 15rem;
  }
}
.hero::after {
  background-color: rgba(50, 50, 50, 0.5);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.hero__heading {
  font-weight: 600;
}