.container, .nav {
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .container, .nav {
    padding: 0 2.25rem;
  }
}
@media (min-width: 80rem) {
  .container, .nav {
    margin: auto;
    max-width: 63.75rem;
    padding: 0;
    width: 63.75rem;
  }
}

.hover-effect, .social-icons__icon, .address__email, .logo, .logo__image {
  transition: 125ms;
}
.hover-effect:hover, .social-icons__icon:hover, .address__email:hover, .logo:hover, .logo__image:hover {
  opacity: 75%;
}

.logo, .logo__image {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media (min-width: 48rem) {
  .logo, .logo__image {
    display: block;
  }
}

.button, .table__button {
  background-color: #323232;
  border-radius: 0.25rem;
  color: #ffffff;
  font-size: 0.9375rem;
  height: 2.5rem;
  min-width: 9.375rem;
  padding: 0 2rem;
  text-transform: uppercase;
}
.button:hover, .table__button:hover {
  background-color: #000000;
}
@media (min-width: 48rem) {
  .button, .table__button {
    align-self: end;
  }
}

@font-face {
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  src: url("../assets/fonts/avenir-next-lt-pro-regular.woff") format("woff"), url("../assets/fonts/avenir-next-lt-pro-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir Next LT Pro";
  font-weight: 600;
  src: url("../assets/fonts/avenir-next-lt-pro-demi.woff") format("woff"), url("../assets/fonts/avenir-next-lt-pro-demi.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir Next LT Pro";
  font-weight: 700;
  src: url("../assets/fonts/avenir-next-lt-pro-bold.woff") format("woff"), url("../assets/fonts/avenir-next-lt-pro-bold.woff2") format("woff2");
}
body {
  color: #323232;
  font-family: "Avenir Next LT Pro", sans-serif;
}

.page-header, .hero__heading,
.section-header,
.footer__heading,
.shows__heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 1.5rem 0 1rem;
}
@media (min-width: 48rem) {
  .page-header, .hero__heading,
  .section-header,
  .footer__heading,
  .shows__heading {
    padding: 3rem 0 2.25rem;
  }
}

@media (min-width: 48rem) {
  .page-header, .hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

@media (min-width: 48rem) {
  .section-header, .footer__heading, .shows__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.sub-header, .hero__sub-heading {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 48rem) {
  .sub-header, .hero__sub-heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.body-copy, .nav__link, body,
.footer-copy,
.footer {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 48rem) {
  .body-copy, .nav__link, body,
  .footer-copy,
  .footer {
    font-size: 0.875rem;
  }
}

@media (min-width: 48rem) {
  .body-copy, .nav__link, body {
    line-height: 1.375rem;
  }
}

@media (min-width: 48rem) {
  .footer-copy, .footer {
    line-height: 1.25rem;
  }
}

.label, .footer__copyright, .table__heading, .table__data::before,
.button,
.table__button {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.25rem;
}
@media (min-width: 48rem) {
  .label, .footer__copyright, .table__heading, .table__data::before,
  .button,
  .table__button {
    font-size: 0.75rem;
  }
}

.hidden-text {
  display: none;
}

.shows {
  padding: 0;
}
@media (min-width: 48rem) {
  .shows {
    padding: 0 2.25rem 2rem;
  }
}
@media (min-width: 80rem) {
  .shows {
    display: flex;
    gap: 10rem;
    margin: auto;
    max-width: 63.75rem;
    padding: 0;
    padding-bottom: 2rem;
    width: 63.75rem;
  }
}
.shows__heading {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 80rem) {
  .shows__heading {
    padding-left: 0;
    padding-right: 0;
  }
}

.table {
  border-collapse: collapse;
  color: #323232;
  text-align: left;
  width: 100%;
}
.table__head {
  display: none;
}
@media (min-width: 48rem) {
  .table__head {
    display: table-header-group;
  }
}
.table__heading {
  color: #afafaf;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 48rem) {
  .table__heading {
    padding: 1rem;
    padding-top: 0;
  }
}
@media (min-width: 80rem) {
  .table__heading {
    padding-top: 4rem;
  }
}
.table__row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .table__row {
    display: table-row;
    vertical-align: middle;
  }
}
.table__data {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .table__data {
    border-bottom: #e1e1e1 1px solid;
    display: table-cell;
  }
}
@media (min-width: 48rem) and (min-width: 48rem) {
  .table__data {
    padding: 1rem;
    width: 25%;
  }
}
.table__data::before {
  color: #afafaf;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 48rem) {
  .table__data::before {
    display: none;
  }
}
.table__data--date {
  font-weight: 600;
}
.table__data--date::before {
  content: "Date";
}
.table__data--venue::before {
  content: "Venue";
}
.table__data--location::before {
  content: "Location";
}
.table__data--button {
  border-bottom: #e1e1e1 1px solid;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.table__button {
  font-size: 0.875rem;
}
@media (min-width: 48rem) {
  .table__button {
    padding: 0;
  }
}

.header {
  background-color: #323232;
  color: #e1e1e1;
  text-align: center;
}

.logo {
  box-sizing: content-box;
  margin: 1rem 0 0.5rem;
}
@media (min-width: 48rem) {
  .logo {
    margin: 0;
  }
}

.nav {
  padding: 0;
}
@media (min-width: 48rem) {
  .nav {
    align-items: center;
    display: flex;
    gap: 4rem;
    padding: 0 2.25rem;
  }
}
@media (min-width: 80rem) {
  .nav {
    padding: 0;
  }
}
.nav__list {
  display: flex;
}
@media (min-width: 48rem) {
  .nav__list {
    gap: 3.5rem;
  }
}
@media (min-width: 80rem) {
  .nav__list {
    gap: 1rem;
  }
}
.nav__item {
  flex-grow: 1;
  width: 50%;
}
@media (min-width: 48rem) {
  .nav__item {
    width: auto;
    min-width: calc((100vw - 21rem) / 12);
  }
}
.nav__link {
  display: block;
  padding: 0.5rem 0;
  transition: 125ms background-color;
}
@media (min-width: 48rem) {
  .nav__link {
    padding: 1.5rem 0 1.25rem;
  }
}
@media (min-width: 80rem) {
  .nav__link {
    padding: 2rem 0;
  }
}
.nav__link--active {
  font-weight: 600;
}
.nav__link--active, .nav__link:hover {
  border-bottom: #ffffff 0.25rem solid;
  color: #ffffff;
}
.nav__link:hover {
  background-color: rgba(175, 175, 175, 0.1);
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
  z-index: 0;
}
.hero::after {
  background-color: rgba(50, 50, 50, 0.5);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.hero__heading {
  font-weight: 600;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 48rem) {
  .footer__row {
    align-items: baseline;
    display: flex;
    justify-content: start;
  }
}
@media (min-width: 48rem) {
  .footer__row-item {
    width: 16.3125rem;
  }
}
.footer__row--address {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
@media (min-width: 48rem) {
  .footer__row--address {
    flex-direction: row;
    gap: 0;
  }
}
.footer__heading {
  font-weight: 600;
}
@media (min-width: 48rem) {
  .footer__heading {
    padding-bottom: 0;
  }
}
.footer__copyright {
  font-weight: 400;
  margin-top: 0.5rem;
}
@media (min-width: 48rem) {
  .footer__copyright {
    font-size: 0.875rem;
    margin-top: 3.5rem;
  }
}

.social-icons {
  display: flex;
  gap: 2rem;
}
@media (min-width: 48rem) {
  .social-icons {
    top: -0.5rem;
    position: relative;
  }
}
.logo--top {
  display: none;
}
@media (min-width: 48rem) {
  .logo--top {
    display: block;
    flex-grow: 1;
    top: -0.5rem;
    text-align: right;
    position: relative;
  }
}
@media (min-width: 48rem) {
  .logo--bottom {
    display: none;
  }
}
.logo__image {
  display: inline-block;
  margin-top: 4rem;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .address {
    gap: 1.5rem;
  }
}
.address__name {
  font-weight: 600;
}
.address__email {
  display: inline-block;
}
.address__email:hover {
  opacity: 90%;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote,
body,
fieldset,
h1,
h2,
p,
ul {
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
}

fieldset {
  border: 0;
}

fieldset,
ul {
  padding: 0;
}

img {
  vertical-align: bottom;
  width: 100%;
}

ul {
  list-style-type: none;
}

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  padding: 2rem 0;
}
@media (min-width: 48rem) {
  .hero {
    background-position: center top -5.625rem;
    padding: 3.5rem 0;
  }
}
@media (min-width: 80rem) {
  .hero {
    background-position: center top -8.75rem;
    padding: 13.125rem 0 15rem;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
}
.hero__sub-heading {
  margin: 0;
}
@media (min-width: 48rem) {
  .hero__sub-heading {
    margin-bottom: 1rem;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .hero__content {
    gap: 2.5rem;
  }
}
@media (min-width: 80rem) {
  .hero__content {
    align-items: center;
    flex-direction: row;
    gap: 7.5rem;
  }
}
.hero__heading {
  padding: 0;
  width: 12.6875rem;
}
@media (min-width: 48rem) {
  .hero__heading {
    width: 31.625rem;
  }
}
@media (min-width: 80rem) {
  .hero__heading {
    width: 60%;
  }
}
.hero__embed {
  border: 0;
  height: 7.25rem;
  position: relative;
  width: 100%;
}
@media (min-width: 48rem) {
  .hero__embed {
    width: 26.25rem;
  }
}
@media (min-width: 80rem) {
  .hero__embed {
    width: 50%;
  }
}